@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #151950;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bg-gradient-custom {
  background: linear-gradient(135deg, #ffffff, #f0f0f0, #d9e4f5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay-content {
  background: rgba(17, 75, 95, 0.7);
  padding: 20px;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100% !important;
  padding: 10px !important;
  background: none !important;
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}

.search-form input::placeholder {
  color: #ffffff !important;
  opacity: 1 !important; /* Ensures full visibility */
}

.search-form {
  width: 100% !important;
}

.search-button {
  width: 100%;
  padding: 7px !important;
  border: 1px solid #ffffff !important;
  background: none !important;
  color: #ffffff !important;
}
.search-button:hover {
  background-color: #ff1053 !important;
  border: none !important;
}

.close-btn {
  background: #ff1053 !important;
  border: none !important;
  font-size: 24px;
  cursor: pointer;
  position: absolute !important;
  top: 20px !important;
  right: 20px !important;
  color: white !important;
  outline: none !important;
}
.close-btn:hover {
  border: 1px solid #ff1053 !important;
  color: #ff1053 !important;
  background: none !important;
}
.logo {
  color: #114b5f;
}
.span-logo {
  color: #ff1053;
}
.nav-icon {
  color: #114b5f;
}
.nav-icon:hover {
  color: #ff1053;
}
.nav-link {
  color: #114b5f;
  font-size: 20px !important;
}
.nav-link:hover {
  color: #ff1053;
}
.active {
  color: #ff1053 !important;
  border-bottom: 1px solid #ff1053 !important;
}
.text-prim {
  color: #ff1053;
  /* Ensures contrast */
}
.text-custom {
  color: #114b5f;
}
.bg-custom {
  background-color: #ff1053 !important;
}
.bg-custom-2 {
  background-color: #114b5f !important;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.custom-loader {
  color: #ff1053 !important;
}

.navbar {
  width: 75% !important;
}

.main-bar {
  background: linear-gradient(90deg, #ffffff, #e9ecf1) !important;
}

.badge-color {
  background-color: #ff1053 !important;
  outline: none !important;
  border: none !important;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
  border: none !important;
  height: 350px!important;
}

.btn-custom {
  background-color: #ff1053!important;
  color: white!important;
  border: none!important;
  padding: 10px 20px !important;
}
.btn-custom:hover{
  background: none!important;
  border: 1px solid #ff1053 !important;
  color: #ff1053 !important;
  padding: 9px 19px !important;
}
.btn-custom-blue {
  background-color: #114b5f!important;
  color: white!important;
  border: none!important;
  padding: 10px 20px !important;
}
.btn-custom-blue:hover{
  background: none!important;
  border: 1px solid #114b5f !important;
  color: #114b5f !important;
  padding: 9px 19px !important;
}

